@keyframes slide {
    from {left: -450px;}
    to {left: 0;}
}


#sidebar {
    display: flex;
    position: relative;
    padding: 20px;
    flex-flow: column;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation-name: slide;
    animation-duration: 0.2s;
    animation-direction: alternate;
    z-index:1;
    margin-right: 50px;
}

.sidebar-fold {
    width: 100%;
    display:none;
    flex-flow: row;
    font-size: 20px;
}

#sidebar-fold-arrow {
    position:absolute;
    right: 0;
    top: 20px;
    padding: 20px;
    height: 63px;
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.sidebar-fold-entry {
    width: 100%;
    line-height: 60px;
    text-align: center;
    padding: 0px 10px;
    font-size: 30px;
    border-bottom: 3px groove white;
    border-image: linear-gradient(90deg,white 10%, #2E2E2E 10%, #2E2E2E 80%, white 90%);
    border-image-slice: 1;
}

.sidebar-entry {
    display:flex;
    line-height: 60px;
    padding: 5px 20px;
    font-size: 20px;
    border-bottom: 3px groove white;
    border-image: linear-gradient(90deg, white 10%, #2E2E2E 10%, #2E2E2E 90%, white 90%);
    border-image-slice: 1;
    justify-content: space-around;
}


#se-back {
    box-sizing: border-box;
    display:none;
    height: 70px;
    padding: 25px;
    position: absolute;
    right: 8%;
    z-index: 1;
    margin-right: 20px;
}

#sidebar-slider {
    position: absolute;
    left: 0;
    padding: 21.5px;
    display:flex;
    z-index: 2;
    justify-content: space-between;
    background-color: #2E2E2E;
}

.active-border {
    border-bottom: 3px groove white;
    border-image: linear-gradient(90deg,#2E2E2E 0%,#2E2E2E 100%);
    border-image-slice: 1;
}

.sidebar-slider-img {
    height: 30px;
}

.sidebar-sub {
    display:none;
}

.hidden {
    display:none !important;
}

@media screen and (max-width: 1300px) {

    #sidebar {
        width: 60%;
        margin: 0 0 15px 0;
    }

    #se-back {
        top: 83px;
    }

    .sidebar-fold {
        display:flex;
    }

    #sidebar-slider {
        position: absolute;
        left: 0;
        padding: 26.5px 3px;
        display:flex;
        justify-content: space-between;
        background-color: #2E2E2E;
    }

    .sidebar-slider-img {
        height: 20px;
        z-index: -1;
    } 

    #sidebar-arrow {
        display:block;
    }

    #sidebar-burger {
        display:none;
    }

    .sidebar-entry {
        display:none;
    }

}

@media screen and (max-width: 1000px) {

    #sidebar {
        width: 90%;
        margin: 0 0 15px 0;
    }
    
}

@media screen and (max-width: 600px) {

    #sidebar {
        width: 95%;
    }
    
}







