* {
    box-sizing: border-box;
}

body {
    display:flex;
    flex-flow:column;
    min-height:100vh;
    min-width:300px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #F5F1EE;
}

a {
    text-decoration: none;
    color:inherit;
}

h1, p{
    font-family: 'Roboto', sans-serif;
}

.active{
    background-color: #5B5B5B;
    color: white;
}

#content {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-grow: 1;
    flex-flow: row;
    padding: 76px 0 50px 0;
}

@media screen and (max-width: 1300px) {

    #content {
        flex-flow: column;
        align-items:center;
    }

} 