html {
    display:block;
}

.category-header {
    display: none;
    border-bottom: 3px groove white;
    border-image: linear-gradient(90deg, #2E2E2E 00%, #2E2E2E 80%, white 90%);
    border-image-slice: 1;
    width: 100%;
}

#beitraege-wrapper {
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.text-container {   
    display:flex;
    flex-flow: column;
    background-color: white;
    margin: 0 0 0 0;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.4);	 
    overflow:hidden;
    line-height: 0.9;
}

.beitrag {
    display: none;
    position: relative;
    width: 400px;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.2);
    margin: 25px;
    font-size: smaller;
}

.beitrag-titel {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.7);
    font-weight: normal;
    color: white;
}

.aktuell {
    display:block;
}

@media screen and (max-width: 1300px) {

    #content {
        flex-flow: column;
        align-items:center;
        justify-content: flex-start;
    }

} 

@media screen and (max-width: 1000px) {
    #beitraege-wrapper{ 
        flex-direction: column;
        align-content: space-around;
    }
}

@media screen and (max-width: 600px) {

    .text-container img {
        max-width: 100%;
    }

    .text-container h1 {
        font-size: 17px;
    }
    
    .beitrag {
        max-width: 95%;
        z-index: 0;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.2);
        margin: 25px;
        font-size: smaller;
    }

}


