html {
    display:block;
}

#content {
    display:flex;
    justify-content: center;
    flex-flow: row;
    align-items:flex-start;
    padding-top: 76px;
}

.category-header {
    display: none;
    border-bottom: 3px groove white;
    border-image: linear-gradient(90deg, #2E2E2E 00%, #2E2E2E 80%, white 90%);
    border-image-slice: 1;
    width: 100%;
}

#beitraege-wrapper {
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.text-container {   
    display:flex;
    flex-flow: column;
    background-color: white;
    margin: 0 0 0 0;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.4);	 
    overflow:hidden;
}

.beitrag {
    display: none;
    position: relative;
    width: 400px;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.2);
    margin: 25px;
    font-size: smaller;
}

.beitrag img{
    max-width: 100%;
}

.beitrag-titel {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.4);
    font-weight: normal;
}

.aktuell {
    display:block;
}

/* Sidebar mods */
#sidebar {
    display: flex;
    padding: 20px;
    position: relative;
    top: 0;
    margin-right: 50px;
}

#se-back {
    margin-right: 20px;
}

@media screen and (max-width: 1300px) {

    #content {
        flex-flow: column;
        align-items:center;
        justify-content: flex-start;
    }

    #sidebar {
        display: none;
        padding: 0;
        position: absolute;
        top: 150px;
        margin-right: 0;
    }
        
    #sidebar-slider {
        display:block;
    }

    #se-back {
        margin-right: 0;
    }

} 

@media screen and (max-width: 1000px) {
    #beitraege-wrapper{ 
        flex-direction: column;
        align-content: space-around;
    }
}

@media screen and (max-width: 550px) {
    .text-container {
        padding: 30px;
        width: 100%;
    }

    .beitrag {
        max-width: 100vw;
        font-size: small;
    }
}


