/* Content Mods */
#content {
    display:flex;
    justify-content: center;
    flex-flow: row;
    align-items:flex-start;
    padding-top: 76px;
}

#termine-container {   
    display:flex;
    flex-flow: column;
    align-items: flex-start;
    flex: nowrap;
    background-color: white;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.4);	 
    overflow:hidden;
}

.termin {    
    min-width: 300px;
    width: 800px;
    margin-top: 10px;
    display:none;
    flex-wrap: wrap;
    background: rgb(58, 185, 119);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.4);	 
    overflow:hidden;
    align-items: center;
}

.termin-header {
    display: none;
    border-bottom: 3px groove white;
    border-image: linear-gradient(90deg, #2E2E2E 00%, #2E2E2E 80%, white 90%);
    border-image-slice: 1;
    width: 100%;
}

.aktuell {
    display:flex;
}

.canceled{
    background: rgb(214, 26, 26);
}

.datum {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    text-align:center;
    font-size:large;
    line-height: 130%;
    border-right: 3px ridge rgba(254,171,0);
    padding: 5px;
}

.titel {
    flex-grow: 6;
    padding: 20px;
}

.titel h1 {
    line-height: 50%;
}

.titel p {
    line-height: 50%;
}

.termin-dropdown{
    height: 120px;
    padding: 40px 10px 40px 40px;
    right:0;
}

.termin-beschreibung{
    display:none;
    flex-grow: 1;
    background-color: white;
    padding: 20px 20px;    
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

/* Sidebar mods */
#sidebar {
    display: flex;
    padding: 20px;
    position: relative;
    top: 0px;
    margin-right: 50px;
}

#se-back {
    margin-right: 20px;
}

@media screen and (max-width: 1300px) {

    #content {
        flex-flow: column;
        align-items:center;
        justify-content: flex-start;
    }

    #termine-container {   
        display:flex;
        flex-flow: column;
    }

    #sidebar {
        display: none;
        padding: 0px;
        position: absolute;
        top: 150px;
        margin-right: 0px;
    }
        
    #sidebar-slider {
        display:block;
    }

    #se-back {
        margin-right: 0px;
    }

} 

@media screen and (max-width: 1000px) {

    #termine-container {   
        display:flex;
        flex-flow: column;
        align-items: center;
        width: 90%;
        padding: 30px;
    }

    .termin{
        width:100%;
    }

    .dropdownBeschreibung{
        width:100%;
    }
} 

@media screen and (max-width: 600px) {

    #termine-container {
        width: 100%;
    }

    .datum {
        font-size: small;
    }
    .titel {
        font-size: smaller;
        padding:1vw;
    }
    .termin-dropdown {
        height: 20px;
        padding: 0px 5px 0px 0px;
    }
    .text-container {
        padding: 30px;
        width: 100%;
    }
} 

