.text-container {
    width: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 5px 50px 25px;
    font-size: 18px;
    line-height: 1.7;
    padding-bottom: 50px;
}

.img-inline {
    max-width: 300px;
}

@media screen and (max-width: 1000px) {
    .text-container{ width: 90%; }
}

@media screen and (max-width: 600px) {
    .text-container {
        width: 90vw;
        padding: 10px;
    }
    
    .text-container img {
        max-width: 50vw;
    }

    .text-container h1 {
        font-size: 24px;
    }

    .text-container p {
        font-size: 16px;
    }
}