html{display:block;}

#content {
    flex-flow: column;
    align-items:center;
    padding: 0 0 50px 0;
}

#showcase-image-wrapper {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9) ;
    justify-content: center;
    padding: 0 0;
    max-height: 450px;
    box-shadow: 0 2px 5px 1px black;
}

#showcase-image {
    width: 100%;
    max-width: 1600px;
    height: auto;
    object-fit: cover;
    object-position: top;
}

#showcase-articles-wrapper {
    display:flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.showcase-article {
    display: flex;
    flex-flow: column;
    height: 800px;
    width: 450px;
    background-color: white;
    margin: 50px 50px 0 50px;
    border-radius: 10px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.showcase-article-text {
    padding: 5px 20px;
}

.showcase-article-date {
    padding: 0 20px;
    line-height: 0.5;
    font-size: small;
}

.showcase-article-link {
    margin-top: auto;
    background-color:rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 450px) {
    .showcase-article {width: 90vw; font-size: 4vw; margin: 50px 0;}
}
