body {
    display:flex;
    flex-flow:column;
    min-height:100vh;
    min-width:300px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #F5F1EE;
}

#content {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#showcase-image {
    width: 90vw;
    min-height: 300px;
    max-height: 500px;
    padding: 50px 0px;
}